.wrapper {
    background-color: #fcfdff;
}
.bg-green {
    background-color: #d4e157 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    margin: 40px 0 20px;
}

.text-small {
    font-size: 0.8em;
}

.content-text p {
    text-align: justify;
    line-height: 31px;
}
.content-text li {
    margin-bottom: 10px;
}

.logo_link {
    display: block;
    font-family: 'Merienda', cursive;
    text-decoration: none;
    color: #000;
    font-size: 4em;
}
.logo_link:hover {
    color: #000;
    text-decoration: none;
}
.logo_desc {
    display: block;
    font-family: 'Roboto Slab', serif;
    color: gray;
    font-size: 1.2em;
}

